@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="row justify-content-end align-items-end">
    <div class="col border">
        <h2 class="text-center">Bem-vindo ao Meu Site</h1>
        <p>Este é um site de exemplo criado para demonstrar o uso de HTML básico.</p>
        <p>Aqui você encontrará informações úteis sobre diversos temas.</p>
    </div>

    <div class="col border">
        <h2 class="text-center">Sobre Nós</h2>
        <p>Somos uma equipe apaixonada por tecnologia e inovação.</p>
        <p>Nosso objetivo é fornecer conteúdo de qualidade para todos os visitantes.</p>
    </div>

@* <div class="row border justify-content-end align-items-center">

   <div class="col border">
        <h2>Serviços</h2>
        <p>Oferecemos consultoria, desenvolvimento de software e treinamentos.</p>
        <p>Entre em contato para saber mais sobre nossos serviços personalizados.</p>
    </div>

    <div class="col border">
        <h2>Contato</h2>
        <p>Você pode entrar em contato conosco por e-mail ou redes sociais.</p>
        <p>Estamos sempre disponíveis para responder às suas perguntas.</p>
    </div>
    
</div> *@

</div>




